/* Estilos para o Modal */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed; /* Posição fixa para cobrir a tela */
  z-index: 1000; /* Fica por cima de tudo */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: auto; /* Habilita scroll se o conteúdo for muito grande */
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto; /* Centraliza o modal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura padrão */
  max-width: 500px; /* Largura máxima */
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Animação para abrir o modal */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}


